{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hero</title>


  <link rel="stylesheet" href="{% static 'css/hero/hero.css/' %}" />

</head>

<body>
  <section class="homepage" id="home">
    <div class="content">
      <div class="text">
        <h1>Empowering Farmers</h1>
        <p>Solve your formal problems with ease. <br /></p>
      </div>
      <a href="/contactus/"> Contact us</a>
    </div>
  </section>
</body>

</html>