{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/blog/problemblogs.css'%}" />
  </head>

  <body>
    <section class="portfolio" id="portfolio">
      <h2>Our Trending Blogs & Articles</h2>
      <p class=".sub-heading-p">Main Challenges Facing Agriculture.</p>
      <ul class="cards">
        <li class="card">
          <img
            src="https://images.pexels.com/photos/5909696/pexels-photo-5909696.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="img"
          />
          <h3>Farming Challenges</h3>
          <p>
            Farming faces various obstacles, including climate change, soil
            degradation, and water scarcity. These challenges threaten global
            food security and require innovative solutions for sustainable
            agriculture.
          </p>
          <a href="/blogs/" class="view-more-btn">View More</a>
        </li>
        <li class="card">
          <img
            src="https://images.pexels.com/photos/4207909/pexels-photo-4207909.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="img"
          />
          <h3>Climate Change</h3>
          <p>
            Changing weather patterns, such as extreme heat, droughts, and
            floods, disrupt crop growth and threaten agricultural productivity
            worldwide.
          </p>
          <a href="/blogs/" class="view-more-btn">View More</a>
        </li>
        <li class="card">
          <img
            src="https://images.pexels.com/photos/7415326/pexels-photo-7415326.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="img"
          />
          <h3>Soil Degradation</h3>
          <p>
            Erosion, nutrient depletion, and pollution degrade soil quality,
            reducing fertility and impacting crop yields, posing a significant
            challenge to farmers.
          </p>
          <a href="/blogs/" class="view-more-btn">View More</a>
        </li>
        <li class="card">
          <img
            src="https://images.pexels.com/photos/14689034/pexels-photo-14689034.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="img"
          />
          <h3>Water Scarcity</h3>
          <p>
            Depleting water resources and inefficient irrigation practices lead
            to water scarcity, jeopardizing crop production and agricultural
            sustainability.
          </p>
          <a href="/blogs/" class="view-more-btn">View More</a>
        </li>
        <li class="card">
          <img
            src="https://images.pexels.com/photos/17315200/pexels-photo-17315200/free-photo-of-indian-cows-on-pasture.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="img"
          />
          <h3>Market Volatility</h3>
          <p>
            Fluctuating commodity prices and trade uncertainties impact farm
            profitability and livelihoods, necessitating risk management
            strategies for farmers.
          </p>
          <a href="/blogs/" class="view-more-btn">View More</a>
        </li>
        <li class="card">
          <img
            src="https://images.pexels.com/photos/19643774/pexels-photo-19643774/free-photo-of-view-of-a-banana-plantation-and-palm-trees.jpeg?auto=compress&cs=tinysrgb&w=600"
            alt="img"
          />
          <h3>Technology Adoption</h3>
          <p>
            Technological innovations, such as precision agriculture and digital
            farming, offer opportunities to optimize resource use and enhance
            productivity in agriculture.
          </p>
          <a href="/blogs/" class="view-more-btn">View More</a>
        </li>
      </ul>
    </section>
  </body>
</html>
